In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data.csv")

In [3]:
df

,id,date,first_name,last_name,email,gender,ip_address,country,price_paid,tax
0,1,03/28/2021,Marylin,Alders,malders0@shop-pro.jp,Male,160.119.8.119,Canada,$5.36,NaN
1,2,03/19/2021,Hinda,Harridge,hharridge1@gnu.org,Female,210.51.172.132,Canada,$8.32,NaN
2,3,03/17/2021,Erl,Kilminster,ekilminster2@etsy.com,Male,213.8.101.145,United States,$3.73,20.0
3,4,03/19/2021,Grata,Brantl,gbrantl3@umn.edu,Female,5.140.237.101,United States,$3.70,20.0
4,5,03/24/2021,Kanya,Beasant,kbeasant4@jigsy.com,Male,106.252.162.233,Morocco,$9.24,20.0
...,...,...,...,...,...,...,...,...,...,...
995,996,03/24/2021,Duff,Errigo,derrigorn@elpais.com,Female,193.84.247.144,France,$3.63,NaN
996,997,03/17/2021,Ame,Rastall,arastallro@toplist.cz,Female,188.219.12.109,NaN,$4.59,20.0
997,998,03/13/2021,Betty,Stickels,bstickelsrp@cloudflare.com,Male,199.80.60.87,United States,$7.54,20.0
998,999,03/17/2021,Paquito,Tesoe,ptesoerq@rakuten.co.jp,Male,0.183.63.11,United States,$5.81,NaN
999,1000,03/23/2021,Rochelle,Pringuer,rpringuerrr@house.gov,NaN,170.193.249.83,Canada,$8.01,20.0

### Remplir les valeurs nulles de tax par 0

In [4]:
df["tax"].fillna(0, inplace=True)

In [5]:
df

,id,date,first_name,last_name,email,gender,ip_address,country,price_paid,tax
0,1,03/28/2021,Marylin,Alders,malders0@shop-pro.jp,Male,160.119.8.119,Canada,$5.36,0.0
1,2,03/19/2021,Hinda,Harridge,hharridge1@gnu.org,Female,210.51.172.132,Canada,$8.32,0.0
2,3,03/17/2021,Erl,Kilminster,ekilminster2@etsy.com,Male,213.8.101.145,United States,$3.73,20.0
3,4,03/19/2021,Grata,Brantl,gbrantl3@umn.edu,Female,5.140.237.101,United States,$3.70,20.0
4,5,03/24/2021,Kanya,Beasant,kbeasant4@jigsy.com,Male,106.252.162.233,Morocco,$9.24,20.0
...,...,...,...,...,...,...,...,...,...,...
995,996,03/24/2021,Duff,Errigo,derrigorn@elpais.com,Female,193.84.247.144,France,$3.63,0.0
996,997,03/17/2021,Ame,Rastall,arastallro@toplist.cz,Female,188.219.12.109,NaN,$4.59,20.0
997,998,03/13/2021,Betty,Stickels,bstickelsrp@cloudflare.com,Male,199.80.60.87,United States,$7.54,20.0
998,999,03/17/2021,Paquito,Tesoe,ptesoerq@rakuten.co.jp,Male,0.183.63.11,United States,$5.81,0.0
999,1000,03/23/2021,Rochelle,Pringuer,rpringuerrr@house.gov,NaN,170.193.249.83,Canada,$8.01,20.0

In [9]:
df.dtypes

id              int64
date           object
first_name     object
last_name      object
email          object
gender         object
ip_address     object
country        object
price_paid     object
tax           float64
dtype: object

### Modifier  le type de la colone price_paid en float comme la colonne tax

In [11]:
df.price_paid = df.price_paid.apply(lambda x : x.replace("$", ""))
df.price_paid = df.price_paid.astype(float)

In [12]:
df

,id,date,first_name,last_name,email,gender,ip_address,country,price_paid,tax
0,1,03/28/2021,Marylin,Alders,malders0@shop-pro.jp,Male,160.119.8.119,Canada,5.36,0.0
1,2,03/19/2021,Hinda,Harridge,hharridge1@gnu.org,Female,210.51.172.132,Canada,8.32,0.0
2,3,03/17/2021,Erl,Kilminster,ekilminster2@etsy.com,Male,213.8.101.145,United States,3.73,20.0
3,4,03/19/2021,Grata,Brantl,gbrantl3@umn.edu,Female,5.140.237.101,United States,3.70,20.0
4,5,03/24/2021,Kanya,Beasant,kbeasant4@jigsy.com,Male,106.252.162.233,Morocco,9.24,20.0
...,...,...,...,...,...,...,...,...,...,...
995,996,03/24/2021,Duff,Errigo,derrigorn@elpais.com,Female,193.84.247.144,France,3.63,0.0
996,997,03/17/2021,Ame,Rastall,arastallro@toplist.cz,Female,188.219.12.109,NaN,4.59,20.0
997,998,03/13/2021,Betty,Stickels,bstickelsrp@cloudflare.com,Male,199.80.60.87,United States,7.54,20.0
998,999,03/17/2021,Paquito,Tesoe,ptesoerq@rakuten.co.jp,Male,0.183.63.11,United States,5.81,0.0
999,1000,03/23/2021,Rochelle,Pringuer,rpringuerrr@house.gov,NaN,170.193.249.83,Canada,8.01,20.0

In [13]:
df.dtypes

id              int64
date           object
first_name     object
last_name      object
email          object
gender         object
ip_address     object
country        object
price_paid    float64
tax           float64
dtype: object

### Ajout d'une colonne

In [14]:
df["test"]=0

In [15]:
df

,id,date,first_name,last_name,email,gender,ip_address,country,price_paid,tax,test
0,1,03/28/2021,Marylin,Alders,malders0@shop-pro.jp,Male,160.119.8.119,Canada,5.36,0.0,0
1,2,03/19/2021,Hinda,Harridge,hharridge1@gnu.org,Female,210.51.172.132,Canada,8.32,0.0,0
2,3,03/17/2021,Erl,Kilminster,ekilminster2@etsy.com,Male,213.8.101.145,United States,3.73,20.0,0
3,4,03/19/2021,Grata,Brantl,gbrantl3@umn.edu,Female,5.140.237.101,United States,3.70,20.0,0
4,5,03/24/2021,Kanya,Beasant,kbeasant4@jigsy.com,Male,106.252.162.233,Morocco,9.24,20.0,0
...,...,...,...,...,...,...,...,...,...,...,...
995,996,03/24/2021,Duff,Errigo,derrigorn@elpais.com,Female,193.84.247.144,France,3.63,0.0,0
996,997,03/17/2021,Ame,Rastall,arastallro@toplist.cz,Female,188.219.12.109,NaN,4.59,20.0,0
997,998,03/13/2021,Betty,Stickels,bstickelsrp@cloudflare.com,Male,199.80.60.87,United States,7.54,20.0,0
998,999,03/17/2021,Paquito,Tesoe,ptesoerq@rakuten.co.jp,Male,0.183.63.11,United States,5.81,0.0,0
999,1000,03/23/2021,Rochelle,Pringuer,rpringuerrr@house.gov,NaN,170.193.249.83,Canada,8.01,20.0,0

### Supprimer la colonne Test par del

In [16]:
del df["test"]

In [17]:
df

,id,date,first_name,last_name,email,gender,ip_address,country,price_paid,tax
0,1,03/28/2021,Marylin,Alders,malders0@shop-pro.jp,Male,160.119.8.119,Canada,5.36,0.0
1,2,03/19/2021,Hinda,Harridge,hharridge1@gnu.org,Female,210.51.172.132,Canada,8.32,0.0
2,3,03/17/2021,Erl,Kilminster,ekilminster2@etsy.com,Male,213.8.101.145,United States,3.73,20.0
3,4,03/19/2021,Grata,Brantl,gbrantl3@umn.edu,Female,5.140.237.101,United States,3.70,20.0
4,5,03/24/2021,Kanya,Beasant,kbeasant4@jigsy.com,Male,106.252.162.233,Morocco,9.24,20.0
...,...,...,...,...,...,...,...,...,...,...
995,996,03/24/2021,Duff,Errigo,derrigorn@elpais.com,Female,193.84.247.144,France,3.63,0.0
996,997,03/17/2021,Ame,Rastall,arastallro@toplist.cz,Female,188.219.12.109,NaN,4.59,20.0
997,998,03/13/2021,Betty,Stickels,bstickelsrp@cloudflare.com,Male,199.80.60.87,United States,7.54,20.0
998,999,03/17/2021,Paquito,Tesoe,ptesoerq@rakuten.co.jp,Male,0.183.63.11,United States,5.81,0.0
999,1000,03/23/2021,Rochelle,Pringuer,rpringuerrr@house.gov,NaN,170.193.249.83,Canada,8.01,20.0

### Créer une colonne price_total

### Multiplier le price_paid par la tax dans la colonne price_total

In [23]:
df["price_total"] = df["price_paid"] * df["tax"]

In [24]:
df

,id,date,first_name,last_name,email,gender,ip_address,country,price_paid,tax,price_total
0,1,03/28/2021,Marylin,Alders,malders0@shop-pro.jp,Male,160.119.8.119,Canada,5.36,0.0,0.0
1,2,03/19/2021,Hinda,Harridge,hharridge1@gnu.org,Female,210.51.172.132,Canada,8.32,0.0,0.0
2,3,03/17/2021,Erl,Kilminster,ekilminster2@etsy.com,Male,213.8.101.145,United States,3.73,20.0,74.6
3,4,03/19/2021,Grata,Brantl,gbrantl3@umn.edu,Female,5.140.237.101,United States,3.70,20.0,74.0
4,5,03/24/2021,Kanya,Beasant,kbeasant4@jigsy.com,Male,106.252.162.233,Morocco,9.24,20.0,184.8
...,...,...,...,...,...,...,...,...,...,...,...
995,996,03/24/2021,Duff,Errigo,derrigorn@elpais.com,Female,193.84.247.144,France,3.63,0.0,0.0
996,997,03/17/2021,Ame,Rastall,arastallro@toplist.cz,Female,188.219.12.109,NaN,4.59,20.0,91.8
997,998,03/13/2021,Betty,Stickels,bstickelsrp@cloudflare.com,Male,199.80.60.87,United States,7.54,20.0,150.8
998,999,03/17/2021,Paquito,Tesoe,ptesoerq@rakuten.co.jp,Male,0.183.63.11,United States,5.81,0.0,0.0
999,1000,03/23/2021,Rochelle,Pringuer,rpringuerrr@house.gov,NaN,170.193.249.83,Canada,8.01,20.0,160.2

In [25]:
del df["price_total"]

In [26]:
df

,id,date,first_name,last_name,email,gender,ip_address,country,price_paid,tax
0,1,03/28/2021,Marylin,Alders,malders0@shop-pro.jp,Male,160.119.8.119,Canada,5.36,0.0
1,2,03/19/2021,Hinda,Harridge,hharridge1@gnu.org,Female,210.51.172.132,Canada,8.32,0.0
2,3,03/17/2021,Erl,Kilminster,ekilminster2@etsy.com,Male,213.8.101.145,United States,3.73,20.0
3,4,03/19/2021,Grata,Brantl,gbrantl3@umn.edu,Female,5.140.237.101,United States,3.70,20.0
4,5,03/24/2021,Kanya,Beasant,kbeasant4@jigsy.com,Male,106.252.162.233,Morocco,9.24,20.0
...,...,...,...,...,...,...,...,...,...,...
995,996,03/24/2021,Duff,Errigo,derrigorn@elpais.com,Female,193.84.247.144,France,3.63,0.0
996,997,03/17/2021,Ame,Rastall,arastallro@toplist.cz,Female,188.219.12.109,NaN,4.59,20.0
997,998,03/13/2021,Betty,Stickels,bstickelsrp@cloudflare.com,Male,199.80.60.87,United States,7.54,20.0
998,999,03/17/2021,Paquito,Tesoe,ptesoerq@rakuten.co.jp,Male,0.183.63.11,United States,5.81,0.0
999,1000,03/23/2021,Rochelle,Pringuer,rpringuerrr@house.gov,NaN,170.193.249.83,Canada,8.01,20.0

In [27]:
df["price_total"] = df["price_paid"] * (1 - df["tax"] * 100)

In [28]:
df

,id,date,first_name,last_name,email,gender,ip_address,country,price_paid,tax,price_total
0,1,03/28/2021,Marylin,Alders,malders0@shop-pro.jp,Male,160.119.8.119,Canada,5.36,0.0,5.36
1,2,03/19/2021,Hinda,Harridge,hharridge1@gnu.org,Female,210.51.172.132,Canada,8.32,0.0,8.32
2,3,03/17/2021,Erl,Kilminster,ekilminster2@etsy.com,Male,213.8.101.145,United States,3.73,20.0,-7456.27
3,4,03/19/2021,Grata,Brantl,gbrantl3@umn.edu,Female,5.140.237.101,United States,3.70,20.0,-7396.30
4,5,03/24/2021,Kanya,Beasant,kbeasant4@jigsy.com,Male,106.252.162.233,Morocco,9.24,20.0,-18470.76
...,...,...,...,...,...,...,...,...,...,...,...
995,996,03/24/2021,Duff,Errigo,derrigorn@elpais.com,Female,193.84.247.144,France,3.63,0.0,3.63
996,997,03/17/2021,Ame,Rastall,arastallro@toplist.cz,Female,188.219.12.109,NaN,4.59,20.0,-9175.41
997,998,03/13/2021,Betty,Stickels,bstickelsrp@cloudflare.com,Male,199.80.60.87,United States,7.54,20.0,-15072.46
998,999,03/17/2021,Paquito,Tesoe,ptesoerq@rakuten.co.jp,Male,0.183.63.11,United States,5.81,0.0,5.81
999,1000,03/23/2021,Rochelle,Pringuer,rpringuerrr@house.gov,NaN,170.193.249.83,Canada,8.01,20.0,-16011.99

In [29]:
del df["price_total"]

In [30]:
df

,id,date,first_name,last_name,email,gender,ip_address,country,price_paid,tax
0,1,03/28/2021,Marylin,Alders,malders0@shop-pro.jp,Male,160.119.8.119,Canada,5.36,0.0
1,2,03/19/2021,Hinda,Harridge,hharridge1@gnu.org,Female,210.51.172.132,Canada,8.32,0.0
2,3,03/17/2021,Erl,Kilminster,ekilminster2@etsy.com,Male,213.8.101.145,United States,3.73,20.0
3,4,03/19/2021,Grata,Brantl,gbrantl3@umn.edu,Female,5.140.237.101,United States,3.70,20.0
4,5,03/24/2021,Kanya,Beasant,kbeasant4@jigsy.com,Male,106.252.162.233,Morocco,9.24,20.0
...,...,...,...,...,...,...,...,...,...,...
995,996,03/24/2021,Duff,Errigo,derrigorn@elpais.com,Female,193.84.247.144,France,3.63,0.0
996,997,03/17/2021,Ame,Rastall,arastallro@toplist.cz,Female,188.219.12.109,NaN,4.59,20.0
997,998,03/13/2021,Betty,Stickels,bstickelsrp@cloudflare.com,Male,199.80.60.87,United States,7.54,20.0
998,999,03/17/2021,Paquito,Tesoe,ptesoerq@rakuten.co.jp,Male,0.183.63.11,United States,5.81,0.0
999,1000,03/23/2021,Rochelle,Pringuer,rpringuerrr@house.gov,NaN,170.193.249.83,Canada,8.01,20.0

In [31]:
df["price_total"] = df["price_paid"] * (1 - df["tax"] / 100)

In [32]:
df

,id,date,first_name,last_name,email,gender,ip_address,country,price_paid,tax,price_total
0,1,03/28/2021,Marylin,Alders,malders0@shop-pro.jp,Male,160.119.8.119,Canada,5.36,0.0,5.360
1,2,03/19/2021,Hinda,Harridge,hharridge1@gnu.org,Female,210.51.172.132,Canada,8.32,0.0,8.320
2,3,03/17/2021,Erl,Kilminster,ekilminster2@etsy.com,Male,213.8.101.145,United States,3.73,20.0,2.984
3,4,03/19/2021,Grata,Brantl,gbrantl3@umn.edu,Female,5.140.237.101,United States,3.70,20.0,2.960
4,5,03/24/2021,Kanya,Beasant,kbeasant4@jigsy.com,Male,106.252.162.233,Morocco,9.24,20.0,7.392
...,...,...,...,...,...,...,...,...,...,...,...
995,996,03/24/2021,Duff,Errigo,derrigorn@elpais.com,Female,193.84.247.144,France,3.63,0.0,3.630
996,997,03/17/2021,Ame,Rastall,arastallro@toplist.cz,Female,188.219.12.109,NaN,4.59,20.0,3.672
997,998,03/13/2021,Betty,Stickels,bstickelsrp@cloudflare.com,Male,199.80.60.87,United States,7.54,20.0,6.032
998,999,03/17/2021,Paquito,Tesoe,ptesoerq@rakuten.co.jp,Male,0.183.63.11,United States,5.81,0.0,5.810
999,1000,03/23/2021,Rochelle,Pringuer,rpringuerrr@house.gov,NaN,170.193.249.83,Canada,8.01,20.0,6.408

### Créer une colonne pour récupérer les code des pays

In [35]:
countries = {"United States" : "US", "France" : "FR", "Canada" : "CA", "Morocco":"MA"}
df["country_code"] = df["country"].map(countries)

In [36]:
df.head()

,id,date,first_name,last_name,email,gender,ip_address,country,price_paid,tax,price_total,country_code
0,1,03/28/2021,Marylin,Alders,malders0@shop-pro.jp,Male,160.119.8.119,Canada,5.36,0.0,5.360,CA
1,2,03/19/2021,Hinda,Harridge,hharridge1@gnu.org,Female,210.51.172.132,Canada,8.32,0.0,8.320,CA
2,3,03/17/2021,Erl,Kilminster,ekilminster2@etsy.com,Male,213.8.101.145,United States,3.73,20.0,2.984,US
3,4,03/19/2021,Grata,Brantl,gbrantl3@umn.edu,Female,5.140.237.101,United States,3.70,20.0,2.960,US
4,5,03/24/2021,Kanya,Beasant,kbeasant4@jigsy.com,Male,106.252.162.233,Morocco,9.24,20.0,7.392,MA

In [37]:
df.head(20)

,id,date,first_name,last_name,email,gender,ip_address,country,price_paid,tax,price_total,country_code
0,1,03/28/2021,Marylin,Alders,malders0@shop-pro.jp,Male,160.119.8.119,Canada,5.36,0.0,5.360,CA
1,2,03/19/2021,Hinda,Harridge,hharridge1@gnu.org,Female,210.51.172.132,Canada,8.32,0.0,8.320,CA
2,3,03/17/2021,Erl,Kilminster,ekilminster2@etsy.com,Male,213.8.101.145,United States,3.73,20.0,2.984,US
3,4,03/19/2021,Grata,Brantl,gbrantl3@umn.edu,Female,5.140.237.101,United States,3.70,20.0,2.960,US
4,5,03/24/2021,Kanya,Beasant,kbeasant4@jigsy.com,Male,106.252.162.233,Morocco,9.24,20.0,7.392,MA
5,6,03/25/2021,Titos,Braybrooke,tbraybrooke5@umn.edu,Female,173.100.21.179,United States,5.82,0.0,5.820,US
6,7,03/14/2021,Ava,Kencott,akencott6@phoca.cz,Female,118.251.45.43,Canada,6.29,0.0,6.290,CA
7,8,03/08/2021,Codi,Feasley,cfeasley7@ed.gov,Male,26.190.191.249,France,3.01,20.0,2.408,FR
8,9,03/09/2021,Waylon,Heersema,wheersema8@tumblr.com,Male,63.242.174.112,Canada,3.70,20.0,2.960,CA
9,10,03/23/2021,Guglielma,Gookes,ggookes9@amazon.co.uk,Male,169.100.6.0,France,9.05,0.0,9.050,FR
10,11,03/11/2021,Lief,Woodcraft,lwoodcrafta@sitemeter.com,Male,201.76.240.51,Canada,5.71,0.0,5.710,CA
11,12,03/16/2021,Bailie,Wyman,bwymanb@lulu.com,Male,222.60.138.222,United States,3.15,20.0,2.520,US
12,13,03/05/2021,Janice,Morillas,jmorillasc@miibeian.gov.cn,Female,24.25.198.252,Canada,5.30,20.0,4.240,CA
13,14,03/24/2021,Cull,Vassie,cvassied@unblog.fr,NaN,18.203.61.94,France,5.97,20.0,4.776,FR
14,15,03/21/2021,Oralie,Maryon,omaryone@va.gov,Female,215.248.16.198,United States,4.53,20.0,3.624,US
15,16,03/24/2021,Julina,Faint,jfaintf@amazon.co.jp,Female,96.193.4.151,United States,4.10,20.0,3.280,US
16,17,03/27/2021,Eve,Allaway,eallawayg@ebay.co.uk,Female,184.107.59.156,United States,6.44,20.0,5.152,US
17,18,03/20/2021,Esta,Boulden,ebouldenh@posterous.com,NaN,220.109.140.190,United States,3.16,20.0,2.528,US
18,19,03/16/2021,Judye,Behan,jbehani@google.es,Female,27.196.2.18,France,4.90,20.0,3.920,FR
19,20,03/01/2021,Sibeal,Mounch,smounchj@rakuten.co.jp,Male,218.17.7.177,Canada,5.82,20.0,4.656,CA

In [38]:
df.tail()

,id,date,first_name,last_name,email,gender,ip_address,country,price_paid,tax,price_total,country_code
995,996,03/24/2021,Duff,Errigo,derrigorn@elpais.com,Female,193.84.247.144,France,3.63,0.0,3.630,FR
996,997,03/17/2021,Ame,Rastall,arastallro@toplist.cz,Female,188.219.12.109,NaN,4.59,20.0,3.672,NaN
997,998,03/13/2021,Betty,Stickels,bstickelsrp@cloudflare.com,Male,199.80.60.87,United States,7.54,20.0,6.032,US
998,999,03/17/2021,Paquito,Tesoe,ptesoerq@rakuten.co.jp,Male,0.183.63.11,United States,5.81,0.0,5.810,US
999,1000,03/23/2021,Rochelle,Pringuer,rpringuerrr@house.gov,NaN,170.193.249.83,Canada,8.01,20.0,6.408,CA

In [39]:
df.tail(20)

,id,date,first_name,last_name,email,gender,ip_address,country,price_paid,tax,price_total,country_code
980,981,03/21/2021,Cari,Henze,chenzer8@toplist.cz,Male,24.235.87.125,France,7.80,20.0,6.240,FR
981,982,03/20/2021,Marty,Scad,mscadr9@addthis.com,Female,118.163.178.56,United States,6.46,0.0,6.460,US
982,983,03/07/2021,Aaren,Yesinin,ayesininra@parallels.com,Female,26.182.250.137,United States,8.41,20.0,6.728,US
983,984,03/03/2021,Rhianon,McGrale,rmcgralerb@wix.com,Male,37.231.252.243,Morocco,4.46,20.0,3.568,MA
984,985,03/17/2021,Koressa,Abbado,kabbadorc@printfriendly.com,NaN,20.188.127.195,United States,4.33,0.0,4.330,US
985,986,03/29/2021,Yvonne,Longworthy,ylongworthyrd@163.com,Female,9.59.123.181,France,9.16,0.0,9.160,FR
986,987,03/05/2021,Dukey,Espinal,despinalre@accuweather.com,Male,30.61.204.231,United States,4.07,20.0,3.256,US
987,988,03/13/2021,Patrice,Barr,pbarrrf@google.de,Male,14.129.223.239,United States,6.20,20.0,4.960,US
988,989,03/07/2021,Yves,Botler,ybotlerrg@miitbeian.gov.cn,Female,148.191.87.121,United States,6.10,20.0,4.880,US
989,990,03/16/2021,Horatius,Van Arsdalen,hvanarsdalenrh@prlog.org,NaN,243.214.103.52,France,8.69,20.0,6.952,FR
990,991,03/19/2021,Shep,Thorburn,sthorburnri@prnewswire.com,Male,108.123.252.15,France,7.02,20.0,5.616,FR
991,992,03/07/2021,Elihu,Crush,ecrushrj@berkeley.edu,Male,174.38.173.53,Morocco,5.05,20.0,4.040,MA
992,993,03/04/2021,Maurene,Guilloneau,mguilloneaurk@about.me,Male,108.73.141.204,France,9.19,0.0,9.190,FR
993,994,03/22/2021,Ossie,Snelle,osnellerl@nhs.uk,Male,230.187.67.246,France,4.31,0.0,4.310,FR
994,995,03/17/2021,Carolyne,Bruntjen,cbruntjenrm@reference.com,Female,7.29.168.78,France,5.68,20.0,4.544,FR
995,996,03/24/2021,Duff,Errigo,derrigorn@elpais.com,Female,193.84.247.144,France,3.63,0.0,3.630,FR
996,997,03/17/2021,Ame,Rastall,arastallro@toplist.cz,Female,188.219.12.109,NaN,4.59,20.0,3.672,NaN
997,998,03/13/2021,Betty,Stickels,bstickelsrp@cloudflare.com,Male,199.80.60.87,United States,7.54,20.0,6.032,US
998,999,03/17/2021,Paquito,Tesoe,ptesoerq@rakuten.co.jp,Male,0.183.63.11,United States,5.81,0.0,5.810,US
999,1000,03/23/2021,Rochelle,Pringuer,rpringuerrr@house.gov,NaN,170.193.249.83,Canada,8.01,20.0,6.408,CA

In [40]:
df.loc[20 : 50]

,id,date,first_name,last_name,email,gender,ip_address,country,price_paid,tax,price_total,country_code
20,21,03/12/2021,Jeffrey,Stanman,jstanmank@latimes.com,Female,3.110.64.192,France,5.55,20.0,4.440,FR
21,22,03/05/2021,Mendie,Ayer,mayerl@squarespace.com,Male,166.97.124.52,Canada,4.86,20.0,3.888,CA
22,23,03/03/2021,Muriel,Pexton,mpextonm@bing.com,Male,113.10.187.192,Canada,6.72,20.0,5.376,CA
23,24,03/09/2021,Ermanno,Ghost,eghostn@webnode.com,Male,144.170.210.226,Canada,9.79,0.0,9.790,CA
24,25,03/02/2021,Tod,Willets,twilletso@artisteer.com,Male,101.42.146.88,Canada,8.23,0.0,8.230,CA
25,26,03/14/2021,Nobe,Stobbart,nstobbartp@php.net,Female,126.155.177.249,United States,9.90,0.0,9.900,US
26,27,03/27/2021,Elyse,Glaysher,eglaysherq@mayoclinic.com,NaN,165.91.52.42,United States,5.88,0.0,5.880,US
27,28,03/25/2021,Staford,London,slondonr@sphinn.com,Male,247.235.26.222,United States,3.06,20.0,2.448,US
28,29,03/03/2021,Willabella,Robbins,wrobbinss@tinyurl.com,Female,129.71.210.8,NaN,9.52,20.0,7.616,NaN
29,30,03/02/2021,Edi,Petru,epetrut@census.gov,Male,117.48.20.14,United States,6.76,20.0,5.408,US
30,31,03/28/2021,Tommi,Ditchburn,tditchburnu@bbc.co.uk,Female,8.92.173.38,Morocco,7.81,20.0,6.248,MA
31,32,03/10/2021,Jillene,Baudi,jbaudiv@gizmodo.com,Female,184.161.57.67,France,6.02,20.0,4.816,FR
32,33,03/29/2021,Eadmund,Laurent,elaurentw@economist.com,Male,121.149.77.253,United States,5.00,20.0,4.000,US
33,34,03/20/2021,Cam,Francescoccio,cfrancescocciox@si.edu,Female,177.11.5.62,United States,5.34,20.0,4.272,US
34,35,03/02/2021,Trescha,McCudden,tmccuddeny@nbcnews.com,Female,195.84.81.131,France,4.67,20.0,3.736,FR
35,36,03/11/2021,Charmian,Greenleaf,cgreenleafz@tinypic.com,Male,46.184.249.156,France,6.22,20.0,4.976,FR
36,37,03/08/2021,Daisy,Jobey,djobey10@ovh.net,Male,37.228.186.236,France,3.37,20.0,2.696,FR
37,38,03/20/2021,Byram,Dudman,bdudman11@barnesandnoble.com,Male,37.111.199.4,United States,9.50,0.0,9.500,US
38,39,03/22/2021,Matthus,Saket,msaket12@netlog.com,Female,248.135.20.146,Canada,4.54,20.0,3.632,CA
39,40,03/14/2021,Murdock,Speaks,mspeaks13@yellowbook.com,Female,76.114.76.139,Canada,4.04,20.0,3.232,CA
40,41,03/17/2021,Em,Dupoy,edupoy14@foxnews.com,Male,59.105.241.85,United States,3.45,20.0,2.760,US
41,42,03/23/2021,Filberte,O'Hickey,fohickey15@bandcamp.com,Female,234.227.126.136,France,4.96,0.0,4.960,FR
42,43,03/22/2021,Tonia,Jacqueme,tjacqueme16@hugedomains.com,Male,65.151.183.165,Morocco,5.29,20.0,4.232,MA
43,44,03/22/2021,Karena,Stirland,kstirland17@privacy.gov.au,Male,138.129.241.41,United States,8.11,0.0,8.110,US
44,45,03/20/2021,Maribelle,Shiel,mshiel18@gravatar.com,Male,193.194.124.171,United States,3.37,20.0,2.696,US
45,46,03/29/2021,Sheba,Pobjay,spobjay19@google.com.br,Male,187.254.110.64,United States,7.80,0.0,7.800,US
46,47,03/14/2021,Keene,Bewsy,kbewsy1a@prweb.com,Female,106.95.49.87,France,4.21,0.0,4.210,FR
47,48,03/16/2021,Georgy,Morgen,gmorgen1b@cbsnews.com,Female,122.68.233.36,United States,9.81,20.0,7.848,US
48,49,03/27/2021,Sylas,Caffin,scaffin1c@slashdot.org,Female,121.178.114.236,United States,9.70,0.0,9.700,US
49,50,03/16/2021,Grantham,Kerins,gkerins1d@paginegialle.it,NaN,198.251.41.159,France,9.71,20.0,7.768,FR
50,51,03/26/2021,Maybelle,Lile,mlile1e@imageshack.us,Male,42.18.189.159,France,3.88,20.0,3.104,FR